block titleDeterminer
  if pageTitle
    - var title = 'Bryan Agredo - ' + pageTitle
  else
    - var title = 'Bryan Agredo'
  if pageDesc
    - var description = pageDesc
  else 
    - var description = 'Oops! There\'s no description available for this page.'
  unless pageID
    - var pageID = ''
doctype html
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
      title= title

      meta(property='og:title', content=title)
      meta(property='og:type', content='website')
      meta(property='og:url', content='https://bryan.plus/')
      meta(property='og:image', content='/images/bryan-square.png')
      meta(property='og:description', content=description)
      meta(property='og:locale', content='en_US')
      meta(property='og:site_name', content='Bryan Agredo')
      meta(name='author', content='@Bryan_Agredo')

      meta(name='viewport',           content='width=device-width, initial-scale=1, user-scalable=no')
      meta(name='description',        content=description)
      meta(name='theme-color',        content='#d82c2a')
      meta(name='application-name',   content='Bryan+')
      link(rel='icon',                href='/images/bryan-64x.png')
      link(rel='icon',                href='/images/bryan-64x.png' type='image/x-icon')
      link(rel='icon',                href='/images/bryan-512x.png' type='shortcut icon')
      link(rel='apple-touch-icon',    href='/images/bryan-512x.png')
      link(rel='stylesheet',          href='/css/bootstrap.min.css')
      link(rel='stylesheet',          href='/css/global_new.css')
      script(type='text/javascript').
        (function(d) {
          var config = {
            kitId: 'ivs5koa',
            scriptTimeout: 3000,
            async: true
          },
          h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
  body
    .pageCard.container.ml-md-auto.ml-sm-auto.mr-md-auto.mr-sm-auto.pr-4.pl-4
      block header
        mixin link(href, friendlyName)
          - var active
          if href === pageID
            - active = true
          else
            - active = false
          li.nav-item
            a.nav-link(href=href active=active)= friendlyName
        nav.navbar.navbar-expand-md.row.navbar-light
          div
            a.navbar-brand(href='/')
              span Bryan Agredo
          button.navbar-toggler(type='button', data-toggle="collapse"
          data-target="#navbarContent" aria-controls="navbarContent"
          aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
          .collapse.navbar-collapse(id="navbarContent")
            ul.navbar-nav.mr-auto
              +link('/about', 'About')
              +link('/portfolio', 'Portfolio')
              +link('/contact', 'Contact')
              +link('https://photos.bryan.plus/', 'Photos')
      .content.pt-5
        block content
    block footer
      mixin link(href, friendlyName)
        li.footer-item
          a.footer-link(href=href target="_blank")= friendlyName
      footer
        .container.pt-5.pb-3.pt-md-5.pb-md-5.footer.pr-4.pl-4
          ul.footer-links
            +link('https://github.com/ciolt', 'GitHub')
            +link('https://twitter.com/Bryan_Agredo', 'Twitter')
            +link('https://instagram.com/Bryan.Agredo', 'Instagram')
            +link('https://linkedin.com/in/Bryan-Agredo', 'LinkedIn')
            +link('https://www.behance.net/agredo', 'Bēhance')
          p
            | Built and designed with love by 
            a(href='https://twitter.com/Bryan_Agredo' target="_blank") @Bryan_Agredo
            |  in Miami.
      script(type='text/javascript',  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin='anonymous')
      script(type='text/javascript',  src='/js/bootstrap.min.js')