block titleDeterminer
  if pageTitle
    - var title = 'Bryan Agredo - ' + pageTitle
  else
    - var title = 'Bryan Agredo'
  if pageDesc
    - var description = pageDesc
  else 
    - var description = 'Oops! There\'s no description available for this page.'
doctype html
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
      title= title

      meta(property='og:title', content=title)
      meta(property='og:type', content='website')
      meta(property='og:url', content='https://prismarinejs.github.io/')
      meta(property='og:image', content='/images/source/PrismarineJS.svg')
      meta(property='og:description', content='Now on the web.')
      meta(property='og:locale', content='en_US')
      meta(property='og:site_name', content='Bryan Agredo')
      meta(name='author', content='PrismarineJS Contributors')



      meta(name='viewport',           content='width=device-width, initial-scale=1, user-scalable=no')
      meta(name='description',        content=description)
      meta(name='theme-color',        content='#4DB396')
      meta(name='application-name',   content='Bryan+')
      link(rel='icon',                href='/images/favicon.png')
      link(rel='icon',                href='/images/favicon.png' type='image/x-icon')
      link(rel='icon',                href='/images/favicon.png' type='shortcut icon')
      link(rel='apple-touch-icon',    href='/images/source/PrismarineJS.svg')
      link(rel='stylesheet',          href='/css/bootstrap.min.css')
      link(rel='stylesheet',          href='/css/global.css')
      link(rel='stylesheet',          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900")
      link(rel='stylesheet',          href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    .pageCard.container.m-1.ml-md-auto.ml-sm-auto.mr-md-auto.mr-sm-auto.mt-md-5
      block header
        mixin link(href, friendlyName)
          li.nav-item
            a.nav-link(href=href)= friendlyName
        nav.navbar.navbar-expand-md.row.navbar-dark
          div
            a.navbar-brand(href='/')
              span Bryan Agredo
            a.forHire(href='/contact')
              span Hire Me!
          button.navbar-toggler(type='button', data-toggle="collapse"
          data-target="#navbarContent" aria-controls="navbarContent"
          aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
          .collapse.navbar-collapse(id="navbarContent")
            ul.navbar-nav.mr-auto
              //- +link('/team', 'Team')
              +link('/about', 'About')
              +link('/portfolio', 'Portfolio')
              +link('/contact', 'Contact')
      .content.pb-4
        block content
    block footer
      mixin link(href, friendlyName)
        li.footer-item
          a.footer-link(href=href target="_blank")= friendlyName
      footer
        .container.p-3.p-md-5.footer
          ul.footer-links
            +link('https://github.com/ciolt', 'GitHub')
            +link('https://twitter.com/Bryan_Agredo', 'Twitter')
            +link('https://instagram.com/Bryan.Agredo', 'Instagram')
            +link('https://linkedin.com/in/Bryan-Agredo', 'LinkedIn')
          p
            | Designed and built with love by 
            a(href='https://twitter.com/Bryan_Agredo' target="_blank") @Bryan_Agredo
            |  in Miami.
      script(type='text/javascript',  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin='anonymous')
      script(type='text/javascript',  src='/js/bootstrap.min.js')